/worker/build/
/api/gen/node_modules/
/worker/node_modules/
/api_v2/build/
/api_v2/node_modules
/snapshot/
/worker/package-lock.json
/worker/yarn.lock!/worker/in.json
/worker/out.json
/worker/in.json
/apilibrary/dist/
/apilibrary/node_modules/
/api_v2/.env
