version: '3.1'

services:

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  worker_loop:
    build:
      context: worker/
      dockerfile: DOCKERFILE
    restart: always
    links:
      - mongo
    environment:
      MONGOCOL: trades_v1
      MONGODB: js_trades
      MONGOURL: mongodb://root:example@mongo:27017
      RUNMODE: loop
      TXLIMIT: 50
      PORGRESS: false
    logging:
      driver: "json-file"
      options:
        max-size: "50m"


  worker_sync:
    build:
      context: worker/
      dockerfile: DOCKERFILE
    restart: always
    links:
      - mongo
    environment:
      MONGOCOL: trades_v1
      MONGODB: js_trades
      MONGOURL: mongodb://root:example@mongo:27017
      RUNMODE: sync
      TXLIMIT: 50
      PORGRESS: false
    logging:
      driver: "json-file"
      options:
        max-size: "50m"
